.material-icons{
    position: relative;
    bottom: -5px;
}
body{
    background:rgba(242, 242, 242, 1)
}



/*----------- HORIZONTAL PROFIL------------------*/
.horizontal-profil{
    width:  1046px;
    height: 311px;
    display: flex;
    font-family: 'montserrat';
    color:rgba(130, 130, 130, 1) ;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 22px 25px;
    margin: 50px 50px;
    
}
.h-photo-profil img{
    width: 240px;
    border-radius: 20px;
}
.h-profil-details{
    margin-left: 34px;
    font-size: 18px;
}
.h-name-contact{
    display: flex;
    justify-content: space-between;
}
.h-name{
    font-size: 24px;
    font-weight: 500;
    color: rgba(79,79,79,1);
}
.h-presentation{
    width: 659px;
    margin-top: 60px;
}
/*----------- VERTICAL PROFIL------------------*/
.vertical-profil{
    width:  395px;
    height: 662px;
    display: flex;
    flex-direction: column;
    font-family: 'montserrat';
    color:rgba(130, 130, 130, 1) ;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding: 25px 25px;
    margin: 50px 50px;
    
}
.v-photo-profil{
    width: fit-content;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 30px;
}
.v-photo-profil img{
    width: 373px;
    border-radius: 20px;
    
}
.v-profil-details p{
    width: 350px;
    font-size: 18px;
}
.v-name-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.v-name-contact{
    width: fit-content;
    margin-left:0 ;
}
.v-name{
    font-size: 24px;
    font-weight: 500;
    color: rgba(79,79,79,1);
}
.v-contact{
    margin-top: 20px;
}
.v-presentation{
    margin-top: 40px;
}

/*-----------DEMO HORIZONTAL-------*/

.horizontal-demo{
    display: flex;
    width: 1024px;
    height: 311px;
    font-size: 16px;
    font-family: 'montserrat';
    color:rgba(130, 130, 130, 1);
    border-radius: 20px;
    box-shadow:10px 10px 40px gray;
    padding: 22px 12px;
    margin: 50px 50px;
}
.horizontal-demo img{
    width: 384px;
    height: 267px;
    border-radius: 20px;
}
.h-demo-infos{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.h-demo-description{
    margin: 30px 0;
}
.h-demo-description div{
    font-size: 24px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    margin-bottom:18px;
}
.h-demo-btn1, .h-demo-btn2{
    display: inline-block;
    width: 115px;
    height:max-content ;
    font-size: 18px;
    font-family: 'montserrat';
    color:rgba(47, 128, 237, 1);
    text-align: center;
    border: 1px solid rgba(47, 128, 237, 1);
    border-radius: 15px;
    margin: auto;
    padding: 10px 30px;
    
}
#h-demo-btn1, #h-demo-btn2{
    color:rgba(47, 128, 237, 1); 
    text-decoration: none;

}

 .h-demo-btn1:hover > #h-demo-btn1, .h-demo-btn2:hover > #h-demo-btn2 {
    color: rgb(255, 255, 255,1);
    background-color: rgba(47, 128, 237, 1);
}

.h-demo-btn1:hover, .h-demo-btn2:hover{
    color: rgb(255, 255, 255,1);
    background-color: rgba(47, 128, 237, 1);
}

/* -------------DEMO VERTICAL--------------- */

.vertical-demo{
    width: 395px;
    height: 588px;
    font-size: 16px;
    font-family: 'montserrat';
    color:rgba(130, 130, 130, 1);
    border-radius: 20px;
    box-shadow:10px 10px 40px gray;
    padding: 22px 12px;
    margin: 50px 50px;
}
.vertical-demo img{
    width: 384px;
    height: 267px;
    border-radius: 20px;
    margin: 0 auto 20px;
}
.v-demo-infos{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.v-demo-description{
    margin: 30px 0;
}
.v-demo-description div{
    font-size: 24px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    margin-bottom:18px;
}
.v-demo-btn{
    display: flex;
}
.v-demo-btn1, .v-demo-btn2{
    display: inline-block;
    width: 100px;
    height:max-content ;
    font-size: 18px;
    font-family: 'montserrat';
    color:rgba(47, 128, 237, 1);
    text-align: center;
    border: 1px solid rgba(47, 128, 237, 1);
    border-radius: 15px;
    margin: auto;
    padding: 10px 30px;
    
}
#v-demo-btn1, #v-demo-btn2{
    color:rgba(47, 128, 237, 1); 
    text-decoration: none;

}

.v-demo-btn1:hover > #v-demo-btn1, .v-demo-btn2:hover > #v-demo-btn2 {
    color: rgb(255, 255, 255,1);
    background-color: rgba(47, 128, 237, 1);
}

.v-demo-btn1:hover, .v-demo-btn2:hover{
    color: rgb(255, 255, 255,1);
    background-color: rgba(47, 128, 237, 1);
}

/*----------GRAPHIQUE COMPETENCES HORIZONTAL--------------------*/

.h-graph{
    width: 1018px;
    height: 185px;
    border-radius: 20px;
    box-shadow:10px 10px 40px gray;
    padding: 22px;
    margin: 50px 50px;
}
.h-graph-title{
    font-size: 18px;
    font-family: 'montserrat';
    font-weight: 700;
    margin-bottom: 30px;
}
.h-graph-all{
    display: flex;
    flex-wrap: wrap;
}
.h-ligne1,.h-ligne2,.h-ligne3,.h-ligne4,.h-ligne5,.h-ligne6{
    display: flex;
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'montserrat';
    color:rgba(79, 79, 79, 1);
}
.h-graph-all .text{
    width: 115px;
}
.grey-line{
    width: 375px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(182, 182, 182);
}
/* REACT */
.h-ligne1 .blue-line{
    width: 60px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* JS */
.h-ligne2 .blue-line{
    width: 300px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* CSS */
.h-ligne3 .blue-line{
    width: 375px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* VUE */
.h-ligne4 .blue-line{
    width: 100px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* REDUX */
.h-ligne5 .blue-line{
    width: 100px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* REACT NATIVE */
.h-ligne6 .blue-line{
    width: 130px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}


/*----------GRAPHIQUE COMPETENCES VERTICAL--------------------*/

.v-graph{
    width: 389px;
    height: 284px;
    border-radius: 20px;
    box-shadow:10px 10px 40px gray;
    padding: 22px;
    margin: 0 50px 30px;
}
.v-graph-title{
    font-size: 18px;
    font-family: 'montserrat';
    font-weight: 700;
    margin-bottom: 30px;
}
.v-graph-all{
    display: flex;
    flex-wrap: wrap;
}
.v-ligne1,.v-ligne2,.v-ligne3,.v-ligne4,.v-ligne5,.v-ligne6{
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'montserrat';
    color:rgba(79, 79, 79, 1);
}
.v-graph-all .text{
    width: 115px;
}
.grey-line{
    width: 250px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(182, 182, 182);
}
/* REACT */
.v-ligne1 .blue-line{
    width: 15%;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* JS */
.v-ligne2 .blue-line{
    width: 95%;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* CSS */
.v-ligne3 .blue-line{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* VUE */
.v-ligne4 .blue-line{
    width: 30%;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* REDUX */
.v-ligne5 .blue-line{
    width: 10%;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}
/* REACT NATIVE */
.v-ligne6 .blue-line{
    width: 45%;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(47, 128, 237, 1);
}


/*------------horizontal blog----------*/

.blog-horizontal{
    width: 1046px;
    height: 408px;
    display: flex;
    /* border: 1px solid rgba(130, 130, 130, 1); */
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.h-orga-img{
    margin-right: -30px;
}
.h-orga-img img{
    width: 600px;
    margin: auto;
    border-radius: 10px;
}
.h-blog-blog{
    font-size: 16px;
    font-weight: 500;
    color: #E0E0E0;
    ;
}.h-blog-title{
    width: 180px;
    font-size: 24px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 26px;
}
.h-blog-p{
    font-size: 16px;
    color:  #828282;
    padding-right: 50px;
}
.h-blog-link{
    margin-top: 130px;
}
.h-blog-link a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(47, 128, 237, 1) ;
}


/*------------vertical blog----------*/

.blog-vertical{
    width: 536px;
    height: 646px;
    /* border: 1px solid rgba(130, 130, 130, 1); */
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.v-blog-top{
    display: flex;
    margin-bottom: 30px;
}
.v-toptext{
    width: 240px;
}
.v-orga-img img{
    width: 600px;
    margin: auto;
    border-radius: 15px;
}
.v-blog-blog{
    font-size: 16px;
    font-weight: 500;
    color: #E0E0E0;
}
.v-blog-title{
    width: 180px;
    font-size: 24px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 26px;
}
.v-blog-p{
    font-size: 16px;
    color:  #828282;
}
.v-blog-link{
    margin-top: 60px;
}
.v-blog-link a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgba(47, 128, 237, 1) ;
}

/*-------Experience horizontal---------*/

.bloc-horizontal-experience{
    width: 1046px;
    height: 329px;
    /* border: 1px solid rgba(130, 130, 130, 1); */
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding: 20px 40px 20px 20px;
    margin-bottom: 30px;
}
.h-exp-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 50px;
}
.h-exp-entreprises{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.h-exp{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.h-exp-logo img{
    width: 84px;
}
.h-exp-text{
    width: 170px;
}
.h-exp-date{
    font-size: 14px;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 10px;
}
.h-exp-function{
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 35px;
}
.h-exp-p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 10px;
}


/*-------Experience vertical---------*/

.bloc-vertical-experience{
    width: 417px;
    height: 690px;
    /* border: 1px solid rgba(130, 130, 130, 1); */
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding: 20px 40px 20px 20px;
    margin-bottom: 30px;
}
.v-exp-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 50px;
}
.v-exp-entreprises{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.v-exp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 30px;
}
.v-exp-logo img{
    width: 70px;
}
/* .v-exp-text{
    width: 250px;
} */
.v-exp-date{
    font-size: 14px;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 10px;
}
.v-exp-function{
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 35px;
}
.v-exp-p{
    width: 320px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 10px;
}

/*hobbies horizontal*/
.bloc-hobbies-horizontal{
    width: 1046px;
    height: 346px;
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding: 20px 40px 20px 20px;
    margin-bottom: 30px;
}
.h-hobbies-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 30px;
}
.h-hobbies-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.h-hobbies-item{
    width: 320px;
}
.h-hobbies-img{
    height: 139px;
    border-radius: 20px;
    overflow: hidden;
}
.h-hobbies-img img{
    width: 320px;
    border-radius: 20px;
}
.h-hobbies-name{
    font-size: 18px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin: 30px 0;
}
.h-hobbies-text{
    font-size: 16px;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
}

/*hobbies vertical*/
.bloc-hobbies-vertical{
    width: 383px;
    height: 836px;
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding: 22px;
    margin-bottom: 30px;
    margin-left:50px ;
}
.v-hobbies-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 24px;
}
.v-hobbies-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.v-hobbies-item{
    margin-bottom: 30px;
}
.v-hobbies-img{
    width: 383px;
    height: 139px;
    border-radius: 20px;
    overflow: hidden;
}
.v-hobbies-img img{
    border-radius: 20px;
    width: 382px
}
.v-hobbies-name{
    font-size: 18px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    margin: 20px 0;
}
.v-hobbies-text{
    font-size: 16px;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
}

/*-----navigation 1------*/
.navigation1{
    width: 1046px;
    height: 73px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding:22px;
    margin-bottom: 30px;

}

/*-----navigation 2------*/
.navigation2{
    width: 1046px;
    height: 139px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    font-family: 'montserrat';
    border-radius: 20px;
    box-shadow: 10px 10px 40px  rgba(130, 130, 130, 1);
    padding:22px;
    margin-bottom: 30px;

}
.btn-nav2-skills{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    color: rgba(79, 79, 79, 1);
    margin-top: 30px;
}

.btn-skills{
    border: 1px solid rgba(79, 79, 79, 1);
    border-radius: 15px;
    margin-right: 20px;
    padding: 10px 20px;
}

.btn-skills:hover{
    color: rgba(47, 128, 237, 1);
    border: 1px solid rgba(47, 128, 237, 1);
}
.btn-skills:focus{
    color: rgb(255, 255, 255);
    background-color: rgba(47, 128, 237, 1);
    border: 1px solid rgba(47, 128, 237, 1);

}



/*-----navigation 3------*/
.navigation3{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.nav3-btn{
    width: 36px;
    height: 36px;
    color: rgba(79, 79, 79, 1);
    border: 1px solid rgba(79, 79, 79, 1);
    border-radius: 5px;
}

.nav3-btn:hover{
    color:rgba(47, 128, 237, 1);
    border: 1px solid rgba(47, 128, 237, 1);
}

.nav3-btn:focus{
    color:rgb(255, 255, 255);
    background-color: rgba(47, 128, 237, 1);
    border: 1px solid rgba(47, 128, 237, 1);
}


/*--------style example 1---*/
.profil-ex1{
    /* width: 1023px; */
}
.ex1-bloc2{
    display: flex;
}
.experience-ex1{
    /* width: 550px;
    padding: 20px; */
}